body {
    margin: auto;
    max-width: 70%;
}
h1,h2,h3, {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    padding-top: 1.5em;
}
h1 {
    font-size: 32px;
}
table, th, td {
    border: black solid 1px;
}
.figcaption {
    font-style: italic;
}
figure {
    float: right;
}
 


